
.item{
  display: flex;
  gap: 10px;

  &__name{
    flex: 1 1 60%;
  }
}

.expense{
  display: flex !important;
  gap: 20px;
  &__info{
    flex: 1 1 60%;
    display: flex;
    gap: 20px;
  }
}

.form{
  flex: 1 1 60%;
  display: flex;
  gap: 10px;
}
